.conference-img {
	width: 200px;
	height: 200px;
}

.conference-img img {
	width: 100%;
	height: inherit;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

/*speaker*/

/*.speaker-img {
  width: 100%;
}*/
.speaker-card {
	padding: 1.25rem;
}

.speaker-img-div {
	width: 60%;
	max-width: 100%;
	height: 200px;
	max-height: 100%;
}

.speaker-img-div img {
	width: 100% !important;
	height: -webkit-fill-available !important;
	max-width: 100% !important;	/*max-height: -webkit-fill-available !important;*/
}

.aregistration {
	height: unset;
}

.aregistration img {
	height: unset;
	max-height: unset;
}
