.edu-block {
	padding-top: 70px;
	padding-bottom: 50px;
}

.edu-con {
	background: antiquewhite;
	padding: 25px;
}

@media only screen and (max-width:767px) {
	.pb-class {
		margin-bottom: 20px
	}

}
